jupyterlab
pandas
matplotlib
scipy
sacremoses
subword_nmt
gTTS
pytube~=15.0.0
moviepy~=1.0.3
youtube_transcript_api
openai-whisper
torch
flask~=3.0.0
streamlit~=1.29.0
requests~=2.31.0
hydra-core
omegaconf
bitarray
scikit-learn
sacrebleu
argostranslate~=1.9.1